<ion-view title="" id="page4">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/bgkoE7pSNS0cLD1OdROe_QueElegimos1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/FyMuv3RsSP2BgC0ZLJ67_QueElegimos2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="iNNOVALaRioja.elecciones27DeOctubre()" id="page4-button6" style="border-radius:50px 50px 50px 50px;" class="button button-assertive button-block">+ INFO SOBRE GENERALES</a>
    <div class="spacer" style="height: 20px;"></div>
    <div></div>
  </ion-content>
</ion-view>